Source: libhaver-server-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2), libmodule-build-perl, libdigest-sha1-perl, libpoe-perl, libhaver-core-perl
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: Dylan Hardison <dylan@haverdev.org>
Standards-Version: 3.6.1

Package: libhaver-server-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libdigest-sha1-perl, libpoe-perl, libhaver-core-perl
Description: Bob
 Bob
 .
 This description was automagically extracted from the module by dh-make-perl.
